@import 'https://fonts.googleapis.com/css?family=Courgette|Quattrocento';
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: "Raleway", sans-serif;
}


.footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

.social-buttons {
  height:50px;
  width:100%;
  background-color: black;
  margin-top: 15px;
  font-size: 25px;
}


#bio {
  text-align: center;
  margin-top: 150px;
  color: #00ffff;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open>.dropdown-toggle.btn-custom {
    border-color: #00ffff;
}

.portfolio-bar {
  background-color: silver;
  height: 60px;
}

.portfolio-text {
  font-size: 30px;
  text-align: center;
  padding: 8px;
}


.main-pic {
  border-radius: 50%;
}

.about-me {
  padding: 75px 20px;
  background-color: black;
  font-size: 1.15em;
}
.fa:hover {
  color: #808080;
}

.fa {
  color: #00ffff;
}

/*.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {

}*/
